/* Styling for the TextContainer component */
.textContainer {
  /* Display the container as a flexbox with a column layout */
  display: flex;
  flex-direction: column;
  /* Add some left margin for spacing */
  margin-left: 100px;
  /* Set the text color to white */
  color: white;
  /* Set the height to 60% of its parent's height */
  height: 60%;
  /* Adjust the spacing between elements */
  justify-content: space-between;
}

/* Styling for the activeContainer within the TextContainer */
.activeContainer {
  /* Display the activeContainer as a flexbox, centering its contents vertically */
  display: flex;
  align-items: center;
  /* Add some margin at the bottom for spacing */
  margin-bottom: 50%;
}

/* Styling for individual active items within the activeContainer */
.activeItem {
  /* Display active items as flex containers, centering their contents vertically */
  display: flex;
  align-items: center;
}

/* Styling for images within the activeContainer */
.activeContainer img {
  /* Add padding to the left of the images for spacing */
  padding-left: 10px;
}

/* Styling for h1 elements within the TextContainer */
.textContainer h1 {
  /* Remove the default margin at the bottom of h1 elements */
  margin-bottom: 0px;
}

/* Media query for responsive design */
@media (min-width: 320px) and (max-width: 1200px) {
  /* Hide the TextContainer when the screen width is between 320px and 1200px */
  .textContainer {
    display: none;
  }
}
